@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  box-sizing: border-box;
}
body{
    animation: animate 20s ease-in-out infinite;
    background-size: cover;
}
@keyframes animate{
  0%,100%{
    background-image: url(dragon_ball1.jpg);
    background-size: cover;
  }
  50%{
    background-image: url(dragon_ball_z1.jpg);
    background-size: cover;
  }
}

.h1h{
  font-size: 200%;
}
